/node_modules/
.idea
.env*
/.serverless/cloudformation-template-create-stack.json
/.serverless/cloudformation-template-update-stack.json
/.serverless/serverless-state.json
/.serverless/simple-chatgpt-lambda.zip
